@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .text-accent {
        color: rgb(255, 60, 60);
        /*        color: #FF3C3C;*/
    }

    .bg-accent {
        background-color: rgb(255, 60, 60);
    }
}

@layer base {
    @font-face {
        font-family: 'Kayak';
        src: url("/Kayak Sans Bold.otf");
        font-weight: 900;
        font-style: normal;
    }
}