@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .text-accent {
        color: #e9512c;
    }

    .bg-accent {
        background-color: #e9512c;
    }
}

@layer base {
    @font-face {
        font-family: 'Kayak';
        src: url("/Kayak Sans Bold.otf");
        font-weight: 900;
        font-style: normal;
    }
}