@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .text-accent {
        color: rgb(255, 60, 60);
    }

    .bg-accent {
        background-color: rgb(255, 60, 60);
    }
}

@layer base {
    @font-face {
        font-family: 'Kayak';
        src: local('Kayak Sans Regular'),
            local('KayakSans-Regular'),
            url("/KayakSansRegular.woff") format('woff'),
            url("/KayakSansRegular.ttf") format('truetype');
        font-weight: 900;
        font-style: normal;
    }
}